body {
    height: 100vh;
    margin: 0;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    padding: 0 230px;
    background: #1F2937;
}

.logo {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}

.header-links {
    display: flex;
    /* can I find something else to push it to the left */
    margin-left: auto;
    font-size: 18px;
    gap: 16px;
}

.intro {
    display: flex;
    padding: 44px 230px;
    align-items: center;
    justify-content: center;
    gap: 72px;
    background: #1F2937;
    color: #f9faf8;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
    width: 480px;
}

.title { 
    font-size: 48px;
    font-weight: 900;
}

.bodytext {
    font-size: 18px;
    color: #E5E7EB;
} 

.midsection {
    display: flex;
    flex-direction: column;
    padding: 44px 230px;
}

.midtitle {
    margin: auto;
    font-size: 36px;
    font-weight: 900;
}

.img-container {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    gap: 16px;
}

.info {
    text-align: center;
    max-width: 150px;
}

.ee {
    height: auto;
    width: 120px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    padding: 60px 350px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 32px;
    font-style: italic;
    color:#1F2937;
    text-align: center;
}

.author {
    font-size: 24px;
    font-weight: 900;
    margin: auto;
    padding-top: 30px;
}

.outro {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.bluebox {
    background-color: #3882f6;
    margin: 44px 230px;
    padding: 50px 20px;
    border-radius: 12px;
    color: #f9faf8;
    display: flex;

}

.outro-text {
    padding: 0px 40px;
}

.outro-title {
    margin: auto;
    font-size: 24px;
    font-weight: 900;
}

.outro-button {
    border: 2px solid white;
    margin: auto;
}

.footer {
    display: flex;
    background: #1F2937;
    flex: 1;
}

.copyright {
    margin: auto;
    color:#f9faf8;
    padding: 30px 0px;
}



button { 
    background-color: #3882f6;
    color:#E5E7EB;
    border-radius: 12px;
    padding: 8px 24px;
    cursor: pointer;
    width: 100px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#E5E7EB;
}
